/* ================================= Typography Css Start =========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  color: hsl(var(--body-color));
  word-break: break-word;
  background-color: hsl(var(--white));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#scrollSmoother-container {
    overflow: hidden !important;
}
p {
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
}

span {
  display: inline-block;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  font-family: var(--heading-font);
  color: hsl(var(--white));
  line-height: 1.2;
  font-weight: 600;
}

h1, .h1 {
  font-size: var(--heading-one);
}
h2, .h2 {
  font-size: var(--heading-two);
}
h3, .h3 {
  font-size: var(--heading-three);
}
h4, .h4 {
  font-size: var(--heading-four);
}
h5, .h5 {
  font-size: var(--heading-five);
}
h6, .h6 {
  font-size: var(--heading-six);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  transition: 0.2s linear;
  line-height: inherit;
  &:hover {
    color: var(--main-600);
  }
}

a {
  display: inline-block;
  transition: 0.2s linear;
  text-decoration: none;
  color: #0661e9;
}
a:hover {
  color: #1d72f2;
}
img {
  max-width: 100%;
  height: auto;
}
select {
  cursor: pointer;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  border: 0;
  background-color: transparent;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
input:focus, input:focus-visible {
  box-shadow: none;
}


@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.cdnfonts.com/css/satoshi');

$heading-font: 'Mona Sans', sans-serif;
$heading-font-2: 'Great Vibes', sans-serif;
$body-font: 'DM Sans', sans-serif;
$body-font-2: 'Satoshi', sans-serif;



@font-face {
	font-family: "ThunderFont";
	src: url("../../assets/fonts/Thunder-LC.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.satoshi-main {
  font-family: 'Satoshi', sans-serif !important;
}

@font-face {
  font-family: "Thunder";
  src: url('../../assets/fonts/Thunder-BoldLC.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Thunder";
  src: url('../../assets/fonts/Thunder-SemiBoldLC.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "Thunder";
  src: url('../../assets/fonts/Thunder-LC.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Thunder";
  src: url('../../assets/fonts/Thunder-MediumLC.ttf');
  font-weight: 500;
}
.thunder-main{
	font-family: "Thunder" !important;
}

.mona-sans-main {
  font-family: 'Mona Sans', sans-serif !important;
  color: #323232;
}


.dm-sans-main {
  font-family: 'DM Sans', sans-serif !important;
}

.new-section-padding {
  padding: 200px 0;

  @media (max-width: 1600px) { 
    padding: 160px 0;
  }

  @media (max-width: 1400px) { 
    padding: 140px 0;
  }

   @media (max-width: 1200px) { 
    padding: 100px 0;
  }

  @media (max-width: 992px) { 
    padding: 80px 0;
  }
}

.fix {
  overflow: hidden;
}


/* ================================= Typography Css End =========================== */